# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Data
data/processed/
data/raw/churn_bank.csv  # Usually exclude large raw data

# Models/Artifacts
models/

# Environment
venv/
.env

# Notebooks
.ipynb_checkpoints